:root {
  --InpText: black;
  --FormBgrd: black;
  --LblColor: #black;
  --TipColor: DarkOrange;
  --TipText: black;

  --InpBgrd: snow;
  --FormColor: FireBrick;
  --Spinner: Blue; /*#f03355*/
}
