:root {
  --InpBgrd: #c0c0c0;
  --InpText: black;
  --FormBgrd: #000000;
  --FormColor: #202020;
  --LblColor: white;
  --BtnColor: #454545;
  --TipColor: DarkOrange;
  --TipText: black;
  --Spinner: #f03355;
}