:root {
--InpBgrd: #8fb1d0
--InpText: #0d2a45
--FormBgrd: #000000;
--FormColor: #6e35ae
--LblColor: #a1b8ce
--BtnColor: #0b4c8d
--TipColor: DarkOrange;
--TipText: black;
--Spinner: #f03355;
}

