input,
select,
fieldset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  background: var(--FormBgrd, black);
  height: 100%;
}

body {
  margin: 0;
}

fieldset {
  width: 338px;
}

.outer-container {
  display: table;
  width: 100%;
  height: 100%;
}

.inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered-content {
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  border : 1px solid gray;
  padding: 5px;
}

.rotated {
  transition: all 1s ease-in-out 0s;
  transform: rotate(360deg);
}

.cbutton {
  background-image: url("CalcBtn.png");
  background-color: transparent;
  cursor: pointer;
  border: solid black 0px;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 30px;
}

/* Color picker */
input[type="color"] {
  background-color: #999999;
  cursor: pointer;
  width: 30px;
  height: 20px;
  border-radius: 3px;
  border: 0px solid #000;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--TipColor, Yellow);
  color: var(--TipText, black);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  cursor: pointer;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

img {
  cursor: pointer;
  border: 0;
}

.loader {
  border: 12px solid #FFF;
  border-color: #FF3D00 #FF3D00 #fff #fff;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50% , -125%);
    left: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
  }
@keyframes rotate {
  100%   { transform: rotate(360deg)}
}

.active {
  display: block;
  transform: scale(1);
  opacity: 1;
  animation: anim .3s ease-in-out;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

select {
	font: 16px/23px;
	color: #565E65;
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 3px 8px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

select option {
  background: rgba(0, 0, 0, 0.3);
  color: #000;
}

select option {
	padding: 6px 11px;
}

select:hover {
	background-position: right -42px;
}

#wrapper {
	text-align: center;
	margin: 40px auto;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {
    block-size: 100vh;
    display: grid;
    place-content: center;
    gap: 1rem;
    font-family: "Lato", sans-serif;
    background-color: #000000;
}
*/
.text-container {
    display: flex;
    justify-content: center;
    /*block-size: min(10rem, 23vw);
    min-inline-size: 22.5rem;*/
    block-size: 100px; /* променете го на конкретна стойност в абсолютни единици, например "100px" */
    min-inline-size: 300px; /* променете го на конкретна стойност в абсолютни единици, например "300px" */
}

.text-stroke {
    font-size: 48px;
    letter-spacing: 4px;
    fill: none;
    stroke: #efefef;
    stroke-width: 1;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: textStrokeAnim 4000ms linear both;
    animation-iteration-count: 1;
}

@keyframes textStrokeAnim {
  0% {
      stroke-dasharray: 100%;
      stroke-dashoffset: 100%;
      fill: #0000;
  }
  95% {
      stroke-dasharray: 0%;
      stroke-dashoffset: 90%;
      fill: #0000;
  }
  100% {
      stroke-dasharray: 0%;
      stroke-dashoffset: 0%;
      fill: #9b9dad;
      filter: drop-shadow(2px 2px 10px #0007);
  }
}

/*
.reset {
    width: max-content;
    margin-inline: auto;
    padding: 0.1em 0.25em;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 0;
    position: relative;
    background-color: hsl(49deg, 100%, 62%);
    color: #555;
}

.reset::after,
.reset::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: all 66ms ease;
}

.reset::after {
    box-shadow: 0 0.25rem 0.5rem #0003, -0.124rem 0.5rem 0.45rem #0002;
    opacity: 1;
}

.reset::before {
    box-shadow: inset 0 1px 0.5px 0px #777, inset 0 -2px 0.5px 0px #fff9,
        inset 0 4px 10px 0px #0007, inset 0 -4px 16px 0px #fff7;
    opacity: 0;
}

.reset:focus-visible {
    outline: 2px solid #0ebeff;
    outline-offset: 1px;
}

.reset:active {
    scale: 0.98;
}

.reset:is(:active, :focus-visible)::after {
    opacity: 0;
}

.reset:active::before {
    opacity: 1;
}
*/
