@import url("Skin/Colors1.css");

fieldset {
  background-color: var(--FormColor, #242424);
  background-image: url("Skin/Bgrd.jpg");
  background-repeat: repeat;
}

.inputMessage {
  background-color: var(--InpBgrd, white);
  color: var(--InpText, black);
  background: url("Skin/FBgrd.jpg") repeat;
}

input[type="text"] {
  /* calc display */
  background-color: var(--InpBgrd, white);
  border: solid black 2px;
  width: 100%;
  height: 60px;
  font-size: 30px;
  padding: 15px;
  background: url("Skin/FBgrd.jpg") repeat;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.1s ease;
  outline-color: #ccc;
  width: 100%
}

button > span {
  display: block;
}

button.solo:hover {
  transform: scale(0.99) translateY(1px);
}
button.solo:active {
  outline: none;
  transform: scale(0.97) translateY(3px);
}
.typewriter-yellow {
  border-radius: 80px;
  padding: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.12);
  background-color: transparent;
  margin-bottom: 5px;
  color: var(--LblColor, black);
}
.typewriter-yellow span {
  padding: 2px 2px 2px;
  border-radius: 80px;
  border: 1px solid #e2d66a;
}
.typewriter-yellow:focus {
  outline: none;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 0 0 1px #222, 0 10px 15px rgba(0, 0, 0, 0.12);*/
}

/*:root {--TextBtns: visible}
/*
.condpart {
  display: none;
}

.activator:checked + .condpart {
  display: block;
}
*/
