@import "Skin/Colors2.css";

fieldset {
  /*background-color: var(--FormColor, #2e3138);*/
  background: linear-gradient(90deg, #2e3138, #5c6270);
}

.inputMessage {
  background-color: var(--InpBgrd, white);
  color: var(--InpText, black);
}

input[type="text"] {
  background-color: var(--InpBgrd, white);
  border: solid black 2px;
  width: 100%;
  height: 60px;
  font-size: 30px;
  padding: 15px;
}

.abutton {
  background-repeat: no-repeat;
  background-color: var(--BtnColor, DarkOrange);
  /*background-image: linear-gradient(90deg, #f49725, #f7b96e);*/
  background-position: center;
  cursor: pointer;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  border: solid black 2px;
  border-radius: 20%;
  /*color: white;*/
  width: 65px;
  height: 65px;
}

/*.block {
  background-color: var(--InpBgrd, #990000);
}*/

button {
  background-color: var(--InpBgrd, white);
  border: solid black 2px;
  cursor: pointer;
  transition: 0.1s ease;
  outline-color: #ccc;
  width: 100%;
  margin-bottom: 5px;
  color: var(--InpText, black);
}

