:root {
  --InpBgrd: #c0c0c0;
  --InpText: black;
  --FormBgrd: #000000;
  --LblColor: white;
  --TipColor: DarkOrange;
  --TipText: black;
  --Spinner: #f03355;
  --FormColor: #340909;
  --BtnColor: #501111;
}
