:root {
  --InpBgrd: #9790d0;
  --InpText: #d9d7ef;
  --FormBgrd: #000000;
  --LblColor: #857ad6;
  --TipColor: DarkOrange;
  --TipText: black;
  --Spinner: #f03355;
  --FormColor: #0d0326;
  --BtnColor: #200a57;
}
